<div align="center">
  <%= will_paginate %>
</div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Second Name</th>
        <th scope="col">Daily Calories</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <th scope="row"><%= user.first_name %></th>
          <td scope="row"><%= user.last_name %></td>
          <td><%= user.daily_calories %></td>
          <td><%= user.status %></td>
          <% if user != current_user %>
            <td><%= link_to 'Show', user_path(user) %></td>
            <% if (current_user.admin? || current_user.manager?)  %>
              <% if !(current_user.manager? && user.admin?) %>
                <td><%= link_to 'Edit', edit_user_path(user) %></td>
                <td><%= link_to 'Remove', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% if current_user.manager? || current_user.admin? %>
                  <% if user.default_user? %>
                    <td><%= link_to 'Make manager', make_manager_user_path(user) %></td>
                  <% end %>
                  <% if user.manager? %>
                    <td><%= link_to "Make default user", make_default_user_user_path(user) %></td>
                  <% end %>
                  <% if current_user.admin? %>
                    <% unless user.admin? %>
                      <td><%= link_to "Make admin", make_admin_user_path(user) %></td>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<div align="center">
  <%= will_paginate %>
</div>

<% if current_user.admin? || current_user.manager? %>
  <%= link_to 'Add User', new_user_path,
                              class: "btn btn-xs btn-success" %>
<% end %>
